<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body style="background: #222;">
 <div class="login">
	<h1>Emo-DB Speech Classification</h1>
    <form action="{{ url_for('predictGUI')}}"method="post">
        <input type="text" name="filename" placeholder="your_filename(Ex:03a02Nc)" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Get the predicted emotion</button>
    </form>
     <!--
    <form action="{{ url_for('trainmodel')}}"method="get">
        <button type="submit" class="btn btn-primary btn-block btn-large">Train the model</button>
    </form>
    -->
   <br>
   <br>
   {{ emotion_pred }}
 </div>
</body>
</html>
